@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    font-family: "PT Serif", serif;
    margin: 0;
    text-indent: 3ch;
}

a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.conteudo {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo p {
    margin-bottom: 10px;
    font-size: 30px;
}

.conteudo img {
    max-width: 100%;
    height: auto;
    margin-top: 0; 
}

.header {
    background-color: #f1f1f1;
    padding: 20px 0;
    margin: 0;
}
