@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    font-family: "PT Serif", serif;
    margin: 0;
    text-indent: 3ch;
}

a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

a:hover {
    color: rgb(90, 88, 88);
}

.header {
    background-color: #f1f1f1;
    padding: 20px 0;
    text-align: center;
}

.conteudo {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.conteudo p {
    margin-bottom: 10px;
    font-size: 30px;
}

.conteudo img {
    max-width: 100%;
    height: auto;
    margin-top: 0; 
}

section {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

ol {
    padding-left: 20px;
}

center p {
    margin-top: 20px;
    line-height: 1.5;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #f1f1f1;
    padding: 10px 0;
}

footer p {
    margin: 0;
}

.deep-focus {
    color: green;
}
